[Desktop Entry]
Type=Application
Name=QMPDClient
GenericName=MPD Client
Comment=A Qt based MPD client
Exec=qmpdclient
Categories=Qt;Network;Music;
Icon=qmpdclient
Terminal=false
